*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'poppins' sans-serif;
}

:root{
    --bg-color:#00224D;
    --main-color: #FF204E;
    --text-color: #fff;

    --h1-font: 5.6rem;
    --h2-font:3.7rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 38px 19%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all.7s;
}
.Logo{
    display: flex;
    align-items: center;
    color:var(--text-color);
    font-size: 28px;
    font-weight: 600;

}
.navbar{
    display: flex;
}

.navbar a{
    margin: 0 25px;
    padding: 4px;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all 7s;
}

.navbar a:hover{
    border-bottom: 2px solid var(--main-color);
    color:var(--main-color)

}

section{
    padding: 40px 19% 30px;
}

.home{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;

}

.foto{
    border-radius: 40px;
    width: 400px;
    height: 520px;
}
.home-img{
    height: 460px;
    width: 460px;
    object-fit: contain;
}
.home-text{
    padding-top: 60px;
}
.home-text h3{
    font-size: 50px;
    font-weight: 500;
}
.home-text h1{
    margin: 15px 0;
    font-size: var(--h2-font);
    color: var(--text-color);
    line-height: 1.1;
    font-weight: 800;
}

header.sticky {
    background: #25262d;
    padding: 10px 19%;
}

.h-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap:3rem;
    margin-bottom: 20px ;
}

.h-text h2{
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 700;

}

.center p{
    font-size: var(--p-font);
    padding: 0 120px;
    line-height: 32px;
}


  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 800px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  .image-container {
    flex: 1 1 calc(50% - 80px);
    box-sizing: border-box;
    position: relative;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

 
  
  @media (max-width: 768px) {
    .image-container {
      flex: 1 1 calc(50% - 16px); 
    }
  }
  
  @media (max-width: 480px) {
    .image-container {
      flex: 1 1 100%; 
    }
  }


  .blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;border-bottom: 1px solid rgba(0,0,0,0,05);
  }

  .blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .blog-heading h3{
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: 700;
  }


  .blog-heading h3{
    font-size: 2.4;
    font-weight: 600;
  }

  .blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;

  }

  .blog-box{
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
  }

  .blog-img{
    width: 100%;
    height: auto;

  }

  .blog-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;

  }
.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.blog-text .blog-title:hover{
    color: crimson;
    transition: all ease 0.5;
}

.contact ul {
    font-size: 1.3rem; /* Atur ukuran teks sesuai kebutuhan */
    margin-top: 20px;
  }
  
